<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="
                http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
        <bean id="employeeServiceImpl" class="com.wordpress.sreeharshasite.services.EmployeeServiceImpl" />
        <bean id="myController" class="com.wordpress.sreeharshasite.controller.MyController">
                <property name="employeeServiceImpl" ref="employeeServiceImpl" />
        </bean>
</beans>